			"Metadata" : {
				"AWS::CloudFormation::Init" : {
					"config" : {
						"packages" : {

						},

						"sources" : {

						},

						"commands" : {

						},

						"files" : {

						},

						"services" : {

						},

						"users" : {

						},

						"groups" : {

						}
					}
				},
