		"MemcachedNodeType" : {
			"Description" : "Memcached node type",
			"Type" : "String",
			"AllowedValues" : ["cache.t1.micro","cache.m1.small","cache.m1.medium","cache.m1.large","cache.m1.xlarge","cache.m3.xlarge","cache.m3.2xlarge","cache.m2.xlarge","cache.m2.2xlarge","cache.m2.4xlarge","cache.c1.xlarge"],
			"ConstraintDescription" : "Must be a valid Memached node type."
		},
