		"RdsInstanceClass" : {
			"Description" : "RDS instance class",
			"Type" : "String",
			"AllowedValues" : ["db.t1.micro","db.m1.small","db.m1.medium","db.m1.large","db.m1.xlarge","db.m2.xlarge","db.m2.2xlarge","db.m2.4xlarge"],
			"ConstraintDescription" : "Must be a valid RDS instance class."
		},
