		"{{LaunchConfiguration}}": {
			"Type": "AWS::AutoScaling::LaunchConfiguration",
			"Properties": {
				"IamInstanceProfile": { "Ref": "{{IamInstanceProfile}}" },
				"ImageId": { "Ref" : "{{AMI}}" },
				"InstanceType": { "Ref": "{{Ec2InstanceType}}" },
				"KeyName": { "Ref": "{{KeyName}}" },
				"InstanceMonitoring": "{{DetailedMonitoring}}",
				"SecurityGroups": { "Ref": "{{VpcSecurityGroupIds}}" },
				"UserData" : { "Fn::Base64" : { "Fn::Join" : ["", [
					"#!/bin/bash -v\n",
					"# Script text to be run upon instance first boot cycle\n",

					"\n",
				]]}}
			}
		},
